*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
.imagem{
    width: 200px;
    height: 200px;
}
.produto{
    width: 300px;
}
#divProdutos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#produtos .item {
    width: 200px; 
    height: 300px; 
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.adicionar {
    background-color: #ebd18a;
    cursor: pointer;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}
.adicionar:hover {
    background-color: #d4b76f;
}
.hidden {
    display: none;
    opacity: 0;
}

#popUp {
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

#fundo {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}
#fecharPopup {
    border-radius: 12px;
    background-color: #ebd18a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}